<div class="card" style="margin:50px"> 
  <form action="/user/login" method="post">
  <div class="card-content">
    <span class="card-title">Login</span>
      <hr>
      <br />
      <br />
      <div>
      <label>Username:</label>
      <input type="text" name="username" autofocus/><br/>
      </div>
      <div>
      <label>Password:</label>
      <input type="password" name="password"/>
      </div>
  </div>
  <div class="card-action">
    <input type="submit" value="Submit"/>
  </div>
  </form>
</div>
